.errorMessage{
    color: #ff0000;
    font-size: 12px;
    text-align: left;

}
.formDiv{
    text-align:  center;
    width  : 300px;
    margin:0;
}

.submitSuccess{
    color:#808080;
    font-size: 12px;
    text-align: left;
    margin-left: 2rem;
}